@charset "utf-8"; 
/* Based on Framework theme by Andre Griffin
----------------------------------------------------------------
[Table of contents]
 1) GLOBAL
 2) LAYOUT
 3) HEADER
 4) NAVIGATION
 5) NODES
 6) COMMENTS
 7) SIDEBARS
 8) BLOCKS
 9) FOOTER
10) CSS SUPPORT
11) ADMINISTRATION

[Color codes]
Typography
# Dark Grey:        #333
# Dark Blue:        #069
# Pink:             #f66
Layout
# Mid Blue:         #151B8D
# Light Blue:       #9BC0F5
# Very Light Blue:  #CBDEFA

[Font sizes - based on 75% body]
26px = 2.166667em
24px = 2em
22px = 1.8333em
21px = 1.75em
20px = 1.6667em
19px = 1.5833em
18px = 1.5em
17px = 1.416667em
16px = 1.333333em
15px = 1.25em
14px = 1.1667em
13px = 1.083333em
12px = 1em
11px = .9167em
10px = .8333em
Equasion for font sizing: 
-Desired in px ÷ Default (or parent) in px = sizing in em
----------------------------------------------------------------*/

/**
 * 1) GLOBAL
 */
body {
  background: #fff;
  color: #555;
  font: 70% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: .5em 0;
}

h2 {
  font-size: 1.6667em;
  margin: .75em 0 .5em;
}

h3 {
  font-size: 1.333333em;
  margin: .5em 0;
}

h4 {
  font-size: 1.1667em;
  margin: .5em 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #151B8D;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  text-decoration: underline;
  outline: none;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}

em {
  padding: 0 3px 0 0;
}

hr {
  background: #7f7f7f;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

img, a img {
  border: none;
  outline: none;
}

/**
 * 2) LAYOUT
 */
#wrapper {
  margin: 0 auto;
  float: left;
  width: 100%;
}

#content-wrapper {
  margin: 0 auto;
  padding: 5px 0;
  float: left;
  width: 100%;
}

#content {
  margin: 0;
  padding: 5px;
  border: none;
}

#center {
  width: 960px;
  margin: 0 auto;
}

/* 1 column */
#center {
  position: relative;
}

/* 3 columns */
body.sidebars #content {
  float: left;
  padding: 0;
  width: 600px;
}

/* 2 columns - sidebar-left */
body.sidebar-left #content {
  float: right;
  padding: 0;
  width: 780px;
}

/* 2 columns - sidebar-right */
body.sidebar-right #content {
  float: left;
  padding: 0;
  width: 780px;
}

/**
 * 3) HEADER
 */
#header-wrapper {
  margin: 0;
  background: #9BC0F5 url('images/header.png') top left no-repeat;
  float: left;
  width: 100%;
}

#header {
  height: 125px;
  float: left;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

#header h1 {
  float: left;
}

#header #logo {
  float: left;
  border-right: 1px solid #ccc;
  margin: 30px 0 0 0;
}

#header #logo a {
  padding: 30px;
}

#header #logo a:active {
  outline: 1px dotted;
}

#header-wrapper #siteslogan {
  color: #666;
  margin: 28px 0 0 30px;
  font-size: 1.9em;
  float: left;
}

#header #sitename {
  display: block;
}

#header-overlay {
  float: left;
  position: absolute;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0 0 5px 0;
  z-index: 100;
  background: #9BC0F5;
  height: 18px;
  overflow: hidden;
  opacity: 0.8;
}

#header-overlay .block {
  border: none;
}

#header-overlay .block h3 {
  display: none;
}

#header-overlay .block ul li {
  border: none;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  display: inline;
  border: none;
  background: transparent;
}

#header-overlay .block ul li a {
  padding: 0 5px;
  display: inline;
}

#header-content {
  padding: 0 20px 0 0;
  float: right;
  margin: 30px 12px 0 12px;
}

#header-content .block {
  border-bottom: none;
}

#header-content .block h3 {
  display: none;
}

#header-content .block div {
  float: left;
}

#feed-icons {
  float: right;
  margin-right: 0.2em;
  margin: 32px 12px 0 12px;
}

#search-theme-form {
  float: right;
  margin: 30px 0 0 0;
}

#search-theme-form .form-button, #search-theme-form .form-submit {
  margin: 0;
  display: none;
}

#search-theme-form label {
  display: none;
}

#search-theme-form #edit-search-theme-form-1 {
  background: #CBDEFA url('images/search.gif') bottom right no-repeat;
  border: 1px solid #9BC0F5;
  width: 200px;
}

#search-theme-form #edit-search-theme-form-1:hover,
#search-theme-form #edit-search-theme-form-1:focus {
  border: 1px solid #151B8D;
  background-color: #FFF;
}

#search-theme-form #edit-search-theme-form-1:focus {
}

/**
 * 4) NAVIGATION
 */
ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

#nav {
  background: #CBDEFA url('images/header.png') scroll no-repeat left -125px;
  font-size: 1em;
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 24px;
  overflow: hidden;
}

#nav ul.primary-links {
  font-weight: 700;
  float: right;
  height: 24px;
  margin: 3px 10px 0 0;
  padding: 0;
}

#nav ul.primary-links li {
  margin: 0;
  padding: 8px 15px 10px 15px;
}

#nav ul.primary-links li a:link, #nav ul.primary-links li a:visited {
  margin: 0;
  text-decoration: none;
  padding: 5px 0;
}

#nav ul.primary-links li a:hover, #nav ul.primary-links li a:active {
  text-decoration: underline;
}

#nav ul.primary-links li.active {
  background: #fff;
}


#nav ul.secondary-links {
  border-top: 1px solid #b4d7f0;
  padding: 2px 5px;
}

#nav ul.secondary-links li {
  margin: 0;
  padding: 0;
}

#nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited {
  margin: 0 10px 0 0;
  padding: 2px 0;
}

#nav ul.secondary-links li a:hover, #nav ul.secondary-links li a:active {
  text-decoration: underline;
}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
  color: #404040;
  font-size: 1em;
  margin: 0.2em 0;
  padding: 0;
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #666;
}

.breadcrumb a:hover {
  color: #999;
}

/**
 * 5) NODES
 */
span.submitted {
  color: #898989;
  display: block;
  font-size: .8333em;
  margin: -5px 0 4px;
}

.node .picture {
  float: left;
  margin: .3em .5em .1em 0;
}

.meta {
  background: #edf5fa;
  border-bottom: 1px solid #b4d7f0;
  margin: 0 0 1px;
  padding: 0 10px;
}

.meta div.links {
  float: left;
}

.meta div.terms {
  float: right;
  background: transparent url('images/tag.png') left center no-repeat;
  padding: 0 0 0 15px;
}

.meta div.links ul.links li {
  float: left;
  padding: 5px 10px 5px 0;
}

.meta div.terms ul.links li {
  float: left;
  padding: 5px 0 5px 10px;
}

.node_read_more {
  font-weight: bold;
}

.item-list ul.pager {
  margin: 1em 0;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #999;
  font-size: .8333em;
  font-weight: 700;
  margin: .3em .1em;
  padding: .3em .5em;
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active {
  border: 1px solid #999;
  color: #666;
}

.item-list ul.pager li.pager-current {
  background-color: #069;
  border: 1px solid #069;
  color: #fff;
}

/**
 * 6) COMMENTS
 */
#comments h2.comments {
  margin: .5em 0 -15px;
}

.comment {
  margin: 20px 0 0;
  padding: 0;
}

.comment-bar {
  background: #edf5fa;
  border-bottom: 1px solid #b4d7f0;
  padding: 5px;
  position: relative;
}

.comment span.submitted {
  color: #898989;
  display: inline;
  font-size: .8333em;
  margin: 0;
}

.comment span.new {
  color: red;
  font-size: .8333em;
}

.comment .content {
  padding: 5px;
}

.comment .picture {
  float: right;
  margin: .3em 0 .1em .3em;
}

.comment h3 {
  font-size: 1.1667em;
  margin: .5em 5px 0;
}

.comment ul.links {
  margin: -10px 0 0 25px;
}

.comment ul.links li a {
  text-decoration: underline;
}

.indented {
  border-left: 1px solid #ddd;
  margin-left: 14px;
  padding-left: 5px;
}

/**
 * 7) SIDEBARS
 */
.sidebar {
  width: 160px;
}

#sidebar-left {
  float: left;
  margin-right: 9px;
}

#sidebar-right {
  float: right;
  margin-left: 9px;
}

/**
 * 8) BLOCKS
 */
div.block {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #999;
}

div.block h3 {
  font-size: 1.6667em;
  margin: .75em 0 .5em;
  color: #151B54;
}

#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}

#search-block-form .form-text {
  width: 8em;
}

#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}

/**
 * 9) FOOTER
 */
#footer-wrapper {
  margin: 0.2em auto;
  padding: 0;
  background-color: #D8D8D8;
  float: left;
  width: 100%;
  color: #404040;
}

#footer-wrapper a.feed-icon {
  right: 0;
  top: 5px;
}

#footer-wrapper div.block {
  border-bottom: none;
}

#footer-container {
  padding: 0.3em;
}

#footer-wrapper #footer-left,
#footer-wrapper #footer-middle,
#footer-wrapper #footer-right {
  width: 30%;
  padding: 0 1.5%;
  float: left;
}

/**
 * 10) CSS SUPPORT
 */
span.clear     {
  clear: both; display: block; font-size: 0; height: 1px; line-height: 0; margin-bottom: -1px;
}

.clear         {
  clear: both;
}

.clear-block   {
  display: block;
}

.float-left    {
  float: left;
}

.float-right   {
  float: right;
}

.text-left     {
  text-align: left;
}

.text-right    {
  text-align: right;
}

.text-center   {
  text-align: center;
}

.text-justify  {
  text-align: justify;
}

.bold          {
  font-weight: bold;
}

.italic        {
  font-style: italic;
}

.underline     {
  border-bottom: 1px solid;
}

.highlight     {
  background: #ffc;
}

.wrap          {
  width: 960px; margin: 0 auto;
}

.img-left      {
  float: left; margin: 4px 10px 4px 0;
}

.img-right     {
  float: right; margin: 4px 0 4px 10px;
}

.nopadding     {
  padding: 0
}

.noindent      {
  margin-left: 0; padding-left: 0
}

.nobullet      {
  list-style: none; list-style-image: none;
}

/**
 * 11) ADMINISTRATION
 */
/* lists */
dl {
  margin: .5em 0 1em; padding: 0;
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

ol {
  margin: .5em 0 1em; padding: 0 0 0 1.5em;
}

ol li {
  margin: .15em 0 .15em .5em; padding: 0 0 .2em;
}

ol ul li {
  margin-left: .5em; padding: 0 0 .2em 1.5em;
}

ul {
  margin: .5em 0 1em; padding: 0;
}

.item-list ul {
  margin: .35em 0 0 -.5em; padding: 0;
}

.item-list ul ul {
  margin-left: 0;
}

ul li, ul li.leaf, .item-list ul li {
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; list-style-image: none; list-style-type: none; margin: .15em 0 .15em .5em; padding: 0 0 .2em 1.5em;
}

ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none; margin: 0; padding: 0 1em 0 0;
}

ul ol li {
  background: none; list-style-type: decimal; margin-left: 2em; padding: 0 0 .2em;
}

ul ul li {
  margin-left: 2em;
}

/* menu */
ul.menu {
  margin: 0; padding: 0;
}

ul.menu li {
  background-position: .3em .6em;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: .1em 0 .1em 0;
}

ul.menu li a {
  padding: .1em 0 .1em 1.5em;
}

ul.menu li ul li {
  background-position: 1.5em .6em;
}

ul.menu li ul li a {
  padding-left: 2.7em;
}

ul.menu li ul li ul li {
  background-position: 2.7em .6em;
}

ul.menu li ul li ul li a {
  padding-left: 3.9em;
}

ul.menu li ul li ul li ul li {
  background-position: 3.9em .6em;
}

ul.menu li ul li ul li ul li a {
  padding-left: 5.1em;
}

ul.menu li.expanded {
  padding-bottom: 0;
  background: #9BC0F5;
  border: none; padding-bottom: 0;
}

ul.menu li.expanded ul {
  border-bottom: 3px solid #d4e7f3;
  border-top: 1px solid #b4d7f0;
  margin-top: .2em;
  margin-top: .1em;
}

/* menu zebra coloring */
ul.menu li {
  border-bottom: 1px solid #d4e7f3; padding: .2em 0 .2em 0;
}

ul.menu li a {
  padding: .2em 0 .2em 1.5em;
}

ul.menu li.odd {
  background-color: #fff;
}

ul.menu li.even {
  background-color: #edf5fa;
}

/* admin tab links */
ul.primary, ul.primary li,
ul.secondary, ul.secondary li {
  background: none; margin: 0; padding: 0;
}

ul.secondary {
  border-bottom: 1px solid #b4d7f0; clear: both; margin: 0 0 1em; padding: .5em 0; text-align: left;
}

ul.secondary li {
  padding: 0.5em;
}

ul.primary li.active a, ul.secondary li.active a {
  font-weight: 700;
}

/* position admin tab links and style admin h2 */
#tabs-wrapper {
  margin: 0; padding: 0;
}

h2,
h2.with-tabs {
  color: #151B54;
  margin: 0;
  border-top: 1px solid #CBDEFA;
  border-bottom: 1px solid #CBDEFA;
  padding: 0.2em 0.3em;
}

#tabs-wrapper ul.tabs {
  margin: 0.5em 0 0 0; padding: 0 0 0 1em;
}

/* stuff you probably will not need to change - includes admin coloring */
quote, code, fieldset {
  margin: .5em 0;
}

input {
  color: #494949; font: 1em Verdana, sans-serif;
  border: 1px solid #404040;
}

textarea, select {
  color: #494949; font: 1em Verdana, sans-serif;
}

fieldset ul.clear-block li {
  background-image: none; margin: 0; padding: 0;
}

fieldset {
  background: #fff;
  margin: 1em 0;
  padding: 1em;
}

fieldset legend {
  display: block;
}

html.js fieldset.collapsed {
  background: transparent; padding-bottom: .6em; padding-top: 0;
}

html.js fieldset.collapsible legend a {
  background: url(images/menu-expanded.gif) no-repeat 0 50%; padding-left: 2em;
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0 50%;
}

table {
  margin: 1em 0; width: 100%}

thead th {
  border-bottom: 2px solid #d4e7f3; color: #333; font-weight: 700;
  background-color: #9BC0F5;
}
th.active {
  background-color: #CBDEFA;
}
th.active img {
  padding: 0 0 0 4px;
}

tbody {
  border-top:none;
}

th a:link, th a:visited {
  color: #151B54;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d4e7f3; border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #DCDCDC;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #DCDCDC;
}

tr.even td.active {
  background-color: #edf5fa;
}

td.region, td.module, td.container, td.category {
  background-color: #d4e7f3; border-bottom: 1px solid #b4d7f0; border-top: 1.5em solid #fff; color: #666; font-weight: 700;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

tr.odd td.menu-disabled {
  background-color: #edf5fa;
}

tr.even td.menu-disabled {
  background-color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d4e7f3;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #ccc;
}

#autocomplete li {
  cursor: default; margin: 0; padding: 2px;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6; color: #fff;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: .25em 0;
}

#center form {
  margin-bottom: 2em;
}

input[type='button'] {
  border: 1px solid #151B54;
  color: #FFF;
}

.form-button, .form-submit {
  margin: 2em .5em 1em 0;
  border: 1px solid #151B8D;
  color: #151B8D;
  background: #fff;
}

.form-button, .form-submit:hover {
  background-color: #151B8D;
  color: #CBDEFA;
}

#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit {
  margin: 0;
}

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu {
  margin: 0; padding: 0;
}

div.admin h3 {
  margin-bottom: 0;
}

div.admin .left {
  float: left; width: 48%;
}

div.admin .right {
  float: right; width: 48%;
}

div.admin-panel {
  background: none; padding: 1em 1em 1.5em;
}

div.admin-panel .description {
  margin-bottom: 1.5em;
}

div.admin-panel dl {
  margin: 0;
}

div.admin-panel dd {
  color: #898989; font-size: .92em; line-height: 1.3em; margin-bottom: .65em; margin-top: -.2em;
}

.messages {
  background-color: #fff; border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8; border: 1px solid #e5e58f;
}

.preview .node {
  background-color: #fcfce8;
}

span.form-required {
  color: #ffae00;
}

.description {
  color: #898989; font-size: .92em; line-height: 150%; margin-bottom: .75em;
}

.messages, .preview {
  margin: .75em 0; padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

.profile dd {
  margin-bottom: 1.6em;
}

.profile h3 {
  border-bottom: none;
}

div.status {
  border-color: #c7f2c8; color: #33a333;
}

div.error, tr.error {
  background-color: #800517; color: #fff; border: 1px solid #000; padding: 1em;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020; color: #363636;
}

table.system-status-report th {
  border-color: #d4e7f3;
}

table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc; border-color: #ebb; color: #200;
}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd; border-color: #eeb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd; border-color: #beb;
}

table.sticky-header {
  background-color: #9BC0F5;
}

div.block-region {
  background-color: #000;
  color: #FFF;
  text-align: middle;
  font-size: 1.2em;
}

div#header-overlay div.block-region {
  background-color: #FF6;
  color: #000;
  opacity: 0.8;
  text-align: right;
}

